In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("train.csv",usecols=['X1','X2','X3','X4','X5','X6'])

In [5]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

``` here we will try to find out how many unique categories are present for each feature ```

``` here the .unique() function only gives those attributes that have unique values  ```

In [9]:
for col in data.columns:
    print(col,":",len(data[col].unique())," labels")

X1 : 27  labels
X2 : 44  labels
X3 : 7  labels
X4 : 4  labels
X5 : 29  labels
X6 : 12  labels

###### performing one hot encoding

In [11]:
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

``` here basically we can observe that for 6 initial features we are getting 117 columns ie 112 extra so
as the no of features increase the no of dimensions will increase which will lead to curse of dimensionality```

```hence indstead of seclecting the all feature we will one hot encoding on the most frequent occuring feature that is in each category for
some most frequently occuring varible we will create one binary varible```

In [14]:
data.X2.value_counts().sort_values(ascending=False ).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

```  top 10 features that is from as to  e will be 1 and rest will be 0```

In [16]:
top_10=[x for x in data.X2.value_counts().sort_values(ascending=False ).head(10).index ]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

```making top 10 binary varibles ```

In [20]:
for lable in top_10:
    data[lable]=np.where(data['X2']==lable,1,0)
                         
data[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

``` getting a whole new set of dummy variables for each categorical varible ```

In [25]:
def one_hot_top_x(df, variable, top_x_lables):
    for lable in top_x_lables:
        df[variable+' '+lable]=np.where(data['X2']==lable,1,0)

In [23]:
data = pd.read_csv("train.csv",usecols=['X1','X2','X3','X4','X5','X6'])

In [26]:
one_hot_top_x(data,'X2',top_10)

In [27]:
data.head()

,X1,X2,X3,X4,X5,X6,X2 as,X2 ae,X2 ai,X2 m,X2 ak,X2 r,X2 n,X2 s,X2 f,X2 e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0